  /*
  ** Media Query Mixin For Help Only
  */

@mixin minMedium{
  @media (min-width: 992px) {
    @content;
  }
}

  /*
  ** Overlay Mixin
  */

@mixin overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

  /*
  ** Prefixes Mixin
  ** Auto Add Prefixes To Properties
  */

@mixin prefixer($property, $value, $prefixes:()){
  @each  $prefix in $prefixes{
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

  /*
  ** Animation Mixin
  ** Auto Add Prefixes To Animation
  */

@mixin keyFrame($animation-name){
  @-webkit-keyframes #{$animation-name}{
    @content
  }
    @-moz-keyframes #{$animation-name}{
    @content
  }
    @keyframes #{$animation-name}{
    @content
  }
}
