$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 992px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

//#2962FF, #fe5419, #00b0ff, #6659f7, #d1d1d1

//Dark-heme: #0f131c  Wide-theme f6f6f6
$theme: #f6f6f6;
$navbarBackground: #273146;
$asideBackground: #273146;
$brandBackground: #273146;
$mainTitle: #5b616e;

// #d1d1d1, #6c757d
$textColor: #d1d1d1;
$greyColor: #9098ac;

$float-left: left;
$float-right: right;

$text-right : right;
$text-left : left;
